:host{
    ion-tab-bar{
        border: 0;
        display: flex;
        justify-content: space-between;
        padding: 15px;
        ion-icon{
            font-size: 1.6rem;
        }
    }
    ion-tab-buton{
        max-width: 56px;
        max-height: 36px;
        
    }
    .tab-selected{
        color: #ffffff;
        background-color: #4c79ff;
        border-radius: 60px;
        max-width: 90px;
        max-height: 45px;
        margin-left: 20px;
        margin-right: 20px;
    }
}