<ion-content>
  <div class = "top-sectionrc ion-padding">
    <div class = "reportar-covid">
      <h2>Reportar Sintomas</h2>
    </div>
    <ion-progress-bar color="secondary" value="1"></ion-progress-bar>
         <ion-col>

        <div class="sintomas-comunes">
          <ion-col>
            <p>Síntomas más comunes</p>
            <div class="sintoma1">
              <div class ="sintoma1">
                <ion-row>
                <ion-checkbox></ion-checkbox>
                <p>Fiebre</p>
              </ion-row>
              </div>
              <div class ="sintoma1">
                <ion-row>
                <ion-checkbox></ion-checkbox>
                <p>Tos seca</p>
              </ion-row>
              </div>
              <div class ="sintoma1">
                <ion-row>
                <ion-checkbox></ion-checkbox>
                <p>Cansancio</p>
              </ion-row>
              </div>
              <div class ="sintoma1">
                <ion-row>
                <ion-checkbox></ion-checkbox>
                <p>Ninguno</p>
              </ion-row>
              </div>
           </div>
           </ion-col>
        </div>
        <div class="sintomas-menos-comunes">
          <ion-col>
            <p>Síntomas menos comunes</p>
            <div class="sintoma2">
              <div class ="sintoma2">
                <ion-row>
                <ion-checkbox></ion-checkbox>
                <p>Molestias y dolores</p>
              </ion-row>
              </div>
              <div class ="sintoma2">
                <ion-row>
                <ion-checkbox></ion-checkbox>
                <p>Dolor de garganta</p>
              </ion-row>
              </div>
              <div class ="sintoma2">
                <ion-row>
                <ion-checkbox></ion-checkbox>
                <p>Diarrea</p>
              </ion-row>
              </div>
              <div class ="sintoma2">
                <ion-row>
                <ion-checkbox></ion-checkbox>
                <p>Conjuntivitis</p>
              </ion-row>
              </div>
              <div class ="sintoma2">
                <ion-row>
                <ion-checkbox></ion-checkbox>
                <p>Dolor de cabeza</p>
              </ion-row>
              </div>
              <div class ="sintoma2">
                <ion-row>
                <ion-checkbox></ion-checkbox>
                <p>Pérdida del sentido del olfato o <br> del gusto</p>
              </ion-row>
              </div>
              <div class ="sintoma2">
                <ion-row>
                <ion-checkbox></ion-checkbox>
                <p>Ninguno</p>
              </ion-row>
              </div>
           </div>
           </ion-col>
        </div>
        <div class="sintomas-graves">
          <ion-col>
            <p>Síntomas graves</p>
            <div class="sintoma3">
              <div class ="sintoma3">
                <ion-row>
                <ion-checkbox></ion-checkbox>
                <p>Dificultad para respirar o <br> sensación de falta de aire</p>
              </ion-row>
              </div>
              <div class ="sintoma3">
                <ion-row>
                <ion-checkbox></ion-checkbox>
                <p>Dolor o presión en el pecho</p>
              </ion-row>
              </div>
              <div class ="sintoma3">
                <ion-row>
                <ion-checkbox></ion-checkbox>
                <p>Incapacidad para hablar o <br> moverse</p>
              </ion-row>
              </div>
              <div class ="sintoma3">
                <ion-row>
                <ion-checkbox></ion-checkbox>
                <p>Ninguno</p>
              </ion-row>
              </div>
           </div>
           </ion-col>
        </div>
        </ion-col>
        <div>
          <ion-button class = "reportar-sintomas" routerLink = "/tabs/tab1" > REPORTAR</ion-button>
        </div>
  </div>
</ion-content>
