<ion-content>
  <div class = "heading">
    <h1>Inicia secion</h1>
    <p>Por favor inicia sesión para poder continuar</p>
  </div>
  <div class = "social-login">
    <p>Inicia sesión con tus redes sociales</p>
      <ion-button class = "facebook" routerLink = "/thankyou"><ion-icon name="logo-facebook"></ion-icon></ion-button>
      <ion-button class = "instagram" routerLink = "/thankyou"><ion-icon name="logo-instagram"></ion-icon></ion-button>
    </div>
  <div class = "email-login">
    
    <p>Inicia seccion con tu correo</p>
    <form [formGroup]= "loginForm" (ngSubmit) = "onLogin(loginForm.value)">
    <div class = "formField">
      <input type = "text"  id = "email "  placeholder = "Email"  formControlName = "usuario">
      <input type = "password"  id = "password "   placeholder = "Password" formControlName= "password" >
      <input type="submit" class="fadeIn third" value="Iniciar seccion">
    </div>
    </form>
    <div class = "other-links">
      <div class ="remember-me">
        <ion-checkbox></ion-checkbox>
        <p>Recordarme</p>
      </div>
      <p class = "forgot">Olvidaste tu contrasena?</p>
    </div>
  </div>

</ion-content>