<ion-content>
  <div class = "heading">
    <h1>Inicia secion</h1>
    <p>Por favor inicia sesión para poder continuar</p>
  </div>
  <div class = "social-login">
    <p>Inicia sesión con tus redes sociales</p>
      <ion-button class = "facebook" routerLink = "/thankyou"><ion-icon name="logo-facebook"></ion-icon></ion-button>
      <ion-button class = "instagram" routerLink = "/thankyou"><ion-icon name="logo-instagram"></ion-icon></ion-button>
    </div>
  <div class = "email-login">
    <p>Inicia secion con tu correo</p>
    <div class = "formField">
      <input type = "text" name = "email" id = "email ">
      <label for="email" placeholder = "Email">Email</label>
    </div>
    <div class = "formField">
      <input type = "password" name = "password" id = "password ">
      <label for= "password" placeholder = "Password">Password </label>
    </div>
    <div class = "other-links">
      <div class ="remember-me">
        <ion-checkbox></ion-checkbox>
        <p>Recordarme</p>
      </div>
      <p class = "forgot">Olvidaste tu contrasena?</p>
    </div>
  </div>
  <div class = "login-button">
    <ion-button class = "login" routerLink ="/thankyou">Iniciar secion</ion-button>
    <p>No tienes una cuenta?<span routerLink = "/signup"> Signup</span></p>
  </div>
</ion-content>
