<ion-content>  
<div class = "top-section3 ion-padding">
    <div class = "top-menu3">
      <ion-icon name="menu-outline"></ion-icon>
      <ion-icon name="medical-outline"></ion-icon>
    </div>
    <div class = "triaje">
        <h3>Triaje</h3>
    </div>
    <div class = "triaje-preguntas">   
      <h3>Tomar datos</h3>
          </div>
          <div>
            <ion-button class = "medir" routerLink = "/triaje" > MEDIR</ion-button>
          </div>
          <div class="boxes">
          <ion-grid fixed>
            <ion-row>
              <ion-col size="6">
                <ion-card class="night">
                  <ion-card-content>
                    <div class="title">                     
                      <p>Temperatura</p>
                      <p></p>
                      <h2><ion-icon name="thermometer-outline" class="fl"></ion-icon>36°</h2>
                    </div>
                  </ion-card-content>
                </ion-card>
              </ion-col>
              <ion-col size="6">
                <ion-card class="medium">
                  <ion-card-content>
                    <div class="title">
                      <p>Saturacion de oxigeno</p>
                      <h2>95%</h2>
                    </div>
                  </ion-card-content>
                </ion-card>
              </ion-col>
              <ion-col size="6">
                <ion-card class="medium">
                  <ion-card-content>
                    <div class="title">
                      <p>Frecuencia cardiaca</p>                       
                      <h2><ion-icon name="fitness-outline" class="fl"></ion-icon>72</h2>
                    </div>
                  </ion-card-content>
                </ion-card>
              </ion-col>
              <ion-col size="6">
                <ion-card class="medium">
                  <ion-card-content>
                    <div class="title">
                      <p>Presion arterial</p> 
                      <p></p>
                      <h2>120/80</h2>
                    </div>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
    
  </div>
    

</ion-content>
