.heading{
    margin-top: 7vh;
    text-align: center;
    h1{
        font-size: 2rem;
    }
    p{
        color: #838383;
    }
}
.log{
    text-align: center;
    margin-top: 40px;


}
.image {
    text-align: center;
}
.social-login{
    margin-top: 20px;
    text-align: center;
    p{
        color: #838383;
    }
    ion-button{
        width: 40%;
        height: 50px;
        ion-icon{
            font-size: 1.6rem;
        }
    }
}
.Email-login{
    margin-top: 20px;
    text-align: center;
    p{
        color: #838383;
    }
    .inicioSesion{
        width: 85%;
        height: 50px;
        text-transform: none;
        font-size: 1.6rem;
    }
    .Registrarse{
        width: 85%;
        height: 50px;
        text-transform: none;
        font-size: 1.6rem;
    }
}