<ion-content>
  <div class = "heading">
    <h1>Bienvenido</h1>
    <p>por favor inicie sesión o regístrese para continuar usando nuestra app.</p>
  </div>
  <div class = "image">
    <img src = '/assets/doctor.png' alt = 'welcome'>
  </div>
  <div class = "social-login">
    <p>Inicia sesión con tus redes sociales</p>
    <ion-button class = "facebook" routerLink = "/thankyou"><ion-icon name="logo-facebook"></ion-icon></ion-button>
    <ion-button class = "instagram" routerLink = "/thankyou"><ion-icon name="logo-instagram"></ion-icon></ion-button>
  </div>
  <div class = "Email-login">
    <p>Inicia sesión con correo</p>
    <ion-button class = "inicioSesion" routerLink = "/inicio">Iniciar Sesión</ion-button>
    <ion-button class = "Registrarse" routerLink = "/registrarse">registrarse</ion-button>
    <ion-button class = "Registrarse" routerLink = "/tab2">Triaje</ion-button>
  </div>
  

</ion-content>