<ion-content>
  <div class = "top-section3 ion-padding">
    <div class = "datos-triaje">
      <h2>Midiendo datos</h2>
    </div>
    <ion-progress-bar color="secondary" value="0.65"></ion-progress-bar>
    <div class = "triaje">
      <ion-row>
         <ion-col>
           <p>Temperatura<ion-spinner name="dots"></ion-spinner></p>
           <p>Saturacion de oxigeno<ion-spinner name="dots"></ion-spinner></p>
           <p>Frecuencia cardiaca<ion-spinner name="dots"></ion-spinner></p>
           <p>Presion arterial<ion-spinner name="dots"></ion-spinner></p>
          </ion-col>
      </ion-row>
    </div>
    <div class="pregunta1">
      <ion-col>
        <p>Pregunta1</p>
        <div class="respuesta1">
          <div class ="respuesta1">
            <ion-row>
            <ion-checkbox></ion-checkbox>
            <p>Respuesta</p>
          </ion-row>
          </div>
          <div class ="respuesta1">
            <ion-row>
            <ion-checkbox></ion-checkbox>
            <p>Respuesta</p>
          </ion-row>
          </div>
          <div class ="respuesta1">
            <ion-row>
            <ion-checkbox></ion-checkbox>
            <p>Respuesta</p>
          </ion-row>
          </div>
          <div class ="respuesta1">
            <ion-row>
            <ion-checkbox></ion-checkbox>
            <p>Respuesta</p>
          </ion-row>
          </div>
       </div>
       </ion-col>
    </div>
    <div class="pregunta2">
      <ion-col>
        <p>Pregunta2</p>
        <div class="respuesta2">
          <div class ="respuesta2">
            <ion-row>
            <ion-checkbox></ion-checkbox>
            <p>Respuesta</p>
          </ion-row>
          </div>
          <div class ="respuesta2">
            <ion-row>
            <ion-checkbox></ion-checkbox>
            <p>Respuesta</p>
          </ion-row>
          </div>
          <div class ="respuesta2">
            <ion-row>
            <ion-checkbox></ion-checkbox>
            <p>Respuesta</p>
          </ion-row>
          </div>
          <div class ="respuesta2">
            <ion-row>
            <ion-checkbox></ion-checkbox>
            <p>Respuesta</p>
          </ion-row>
          </div>
       </div>
       </ion-col>
    </div>
    <div class="pregunta3">
      <ion-col>
        <p>Pregunta3</p>
        <div class="respuesta3">
          <div class ="respuesta3">
            <ion-row>
            <ion-checkbox></ion-checkbox>
            <p>Respuesta</p>
          </ion-row>
          </div>
          <div class ="respuesta3">
            <ion-row>
            <ion-checkbox></ion-checkbox>
            <p>Respuesta</p>
          </ion-row>
          </div>
          <div class ="respuesta3">
            <ion-row>
            <ion-checkbox></ion-checkbox>
            <p>Respuesta</p>
          </ion-row>
          </div>
          <div class ="respuesta3">
            <ion-row>
            <ion-checkbox></ion-checkbox>
            <p>Respuesta</p>
          </ion-row>
          </div>
       </div>
       </ion-col>
    </div>
    <div class="pregunta4">
      <ion-col>
        <p>Pregunta4</p>
        <div class="respuesta4">
          <div class ="respuesta4">
            <ion-row>
            <ion-checkbox></ion-checkbox>
            <p>Respuesta</p>
          </ion-row>
          </div>
          <div class ="respuesta4">
            <ion-row>
            <ion-checkbox></ion-checkbox>
            <p>Respuesta</p>
          </ion-row>
          </div>
          <div class ="respuesta4">
            <ion-row>
            <ion-checkbox></ion-checkbox>
            <p>Respuesta</p>
          </ion-row>
          </div>
          <div class ="respuesta4">
            <ion-row>
            <ion-checkbox></ion-checkbox>
            <p>Respuesta</p>
          </ion-row>
          </div>
       </div>
       </ion-col>
    </div>
    <div>
      <ion-button class = "finalizar-triaje" routerLink = "/tabs/tab2" > FINALIZAR</ion-button>
    </div>
  </div>
</ion-content>
